src/main/resources/META-INF/mule-sap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/sap/2.2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.2"
            xmlns:schemadoc="http://www.mulesource.org/schema/mule/schemadoc/2.2"
            targetNamespace="http://www.mulesource.org/schema/mule/sap/2.2"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.2"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.2/mule.xsd" />
    <xsd:import namespace = "http://www.mulesource.org/schema/mule/schemadoc/2.2"
                schemaLocation = "http://www.mulesource.org/schema/mule/schemadoc/2.2/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
	  This transport is for SAP JCO 3.x and Mule ESB 2.2.x
	</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Sap</schemadoc:short-name>
            <schemadoc:page-title>Sap Transport</schemadoc:page-title>
            <schemadoc:transport-features
            receiveEvents="false" dispatchEvents="false" responseEvents="true"
                                          requestEvents="false"
                                          transactions="false" streaming="false">
                <schemadoc:inboundMEPs in-only="${receiver}" in-optional-out="true" in-out="true"/>
                <schemadoc:outboundMEPs out-only="${dispatcher}" out-in="true" out-optional-in="true"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="sapConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
              SAP Connector
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:complexType name="sapConnectorType">
	<xsd:complexContent>
            <xsd:extension base="mule:connectorType">
              <xsd:attributeGroup ref="addressAttributes"/>
              <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--
    The following define endpoint elements for this transport. Attributes for the endpoint can be defined at the section
    at the bottom
    -->
    <xsd:element name="inbound-endpoint" type="inboundEndpointType" 
		 substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" 
		 substitutionGroup="mule:abstract-outbound-endpoint"/>


    <xsd:complexType name="outboundEndpointType">

        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" 
		 substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
      <xsd:complexContent>
        <xsd:extension base="mule:globalEndpointType">
          <xsd:attributeGroup ref="addressAttributes"/>
          <xsd:attributeGroup ref="propertyAttributes"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="addressAttributes">
      
      <xsd:attribute name="jcoClient" type="xsd:string">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.client
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="jcoUser" type="xsd:string">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.user
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="jcoPasswd" type="xsd:string">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.user
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="jcoAshost" type="xsd:string">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.ashost
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="jcoSysnr" type="xsd:string">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.sysnr
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>


    <!--
        TODO define address attributes for this endpoints i.e. queue, host, port, etc
        <xsd:attribute name="foo" type="xsd:string"/>
    -->
    </xsd:attributeGroup>


    <xsd:attributeGroup name="propertyAttributes">
         <!--
        TODO define property attributes for this endpoint. These are properties that can configure the way the
        transport behaves but are not used to create the endpoint address.
        <xsd:attribute name="bar" type="xsd:string"/>
    -->
      <xsd:attribute name="jcoLang" type="xsd:string">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.user
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="jcoTrace" type="xsd:boolean">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.trace
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="jcoPoolCapacity" type="xsd:int">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.poolCapacity
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="jcoPeakLimit" type="xsd:int">
	<xsd:annotation>
	  <xsd:documentation>
	    jco.client.poolCapacity
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="isTest" type="xsd:boolean">
	<xsd:annotation>
	  <xsd:documentation>
	    flag for test mode
	  </xsd:documentation>
	</xsd:annotation>
      </xsd:attribute>


    </xsd:attributeGroup>

</xsd:schema>
